#cars_container 
 #cars_details
  .col-lg-6
   =listings["title"]
   %br/
   %span Price
   ="$"+listings["price"]
   %br
   %span Mileage
   =listings["mileage"]
   %br/
   %a{href:"#{listings['carfax_report_url']}"} 
    Car fax URL 
 %span Images Available
 #images
  #image_container
   %img{src: "#{listings['image']}"}
  -listings["additional_images"].each do |extra_image|
   #image_container
    /%img{src: "#{extra_image[1]}"}/
 