#back_to_search
 =link_to "Back to Search",search_index_path

%span Hello
-if session[:user]
 =session[:user]
-else 
 guest   
,We have  #{@listings.count} results
#cars_listing
 = render partial: "listings", collection: @listings
 